/* Estilo para o banner */
.banner {
    position: relative;
    background-image: url('images/A_vibrant_and_modern_cryptocurrency_banner_for_a_w.png'); /* Imagem do banner */
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajuste a altura do banner conforme necessário */
    filter: blur(8px); /* Desfoque */
    z-index: -1; /* Para colocar a imagem atrás do conteúdo */
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.banner h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5rem;
}

/* Estilo dos botões */
button {
    background-color: #FF9800; /* Cor de fundo dos botões */
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 1.6rem;
    border-radius: 50px; /* Tornar os botões arredondados */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Efeito suave */
}

button:hover {
    background-color: #fb8c00; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumentar o tamanho do botão quando hover */
}

button:focus {
    outline: none; /* Remove o contorno ao clicar no botão */
}
