/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff7e6;
    color: #4e342e;
}

header {
    text-align: center;
    padding: 60px 20px;
    background-color: #FFEB3B;
}

header h1 {
    font-size: 3.5rem;
    color: #6d4c41;
}

header h2 {
    font-size: 1.5rem;
    color: #6d4c41;
}

/* Banner Styles */
.banner {
    position: relative;
    background-image: url('images/waffle-banner.png'); /* Caminho correto para o banner */
    background-size: cover;
    background-position: center;
    height: 300px;
    filter: blur(8px); /* Desfoque */
    z-index: -1;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.banner h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5rem;
}

/* Waffle Button Style */
.waffle-button {
    background-color: #FF9800;
    border: none;
    color: white;
    padding: 15px 50px;
    font-size: 1.6rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    margin: 10px;  /* Adiciona uma margem ao redor dos botões */
}

.waffle-button:hover {
    background-color: #fb8c00;
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}

.waffle-button:focus {
    outline: none;  /* Remove o contorno quando o botão é clicado */
}

/* Centering the Buttons */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;  /* Espaço entre os botões */
    margin-top: 30px;
    flex-wrap: wrap; /* Permite que os botões quebrem em várias linhas em telas menores */
}

footer {
    text-align: center;
    margin-top: 60px;
    padding: 15px;
    background-color: #FFEB3B;
}


